@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Mulish, system-ui, sans-serif;
  }
}
@layer utilities {
  /* body {
    font-size: 50%;
  }
  @screen md {
    body {
      font-size: 62.5%;
    }
  } */

  [data-reach-listbox-list] {
    max-height: 20vh;
    overflow-y: scroll;
    position: relative;
    z-index: 100;
  }
  [data-reach-dialog-content] {
    z-index: 100;
    position: relative;
    background: rgb(var(--background)) !important;
    border: 1px solid rgb(var(--secondary));
    width: 100% !important;
    margin: 0 auto !important;
    height: 100% !important;
    overflow: auto;
  }
  @screen lg {
    [data-reach-dialog-overlay] > [data-reach-dialog-content] {
      max-width: 50vw !important;
      margin: 20vh auto !important;
      margin-bottom: 0 !important;
      min-height: 50vh !important;
    }
  }
  [data-reach-dialog-overlay] {
    z-index: 100;
    position: relative;
    background-color: rgb(var(--secondary), 90%) !important;
    width: 100% !important;
    height: 100% !important;
  }
}
